@charset "UTF-8";

header {
    background-color: rgb(21, 67, 126);
    text-align: center
}

.enunciado {
    background-color: rgb(187, 47, 47);
    padding: 10px;
    border: 1px white;
    border-radius: 20px;
    color: white;
    text-transform: uppercase
}

.container {
    padding-left: 10%;
    padding-right: 10%
}

.alternativa {
    background-color: rgb(143, 143, 47);
    color: white;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    display: inline-block;
}