/*Margem para cima*/
.mt-6 {
    margin-top: 6rem !important;
}
.mt-7 {
    margin-top: 7rem !important;
}
.mt-8 {
    margin-top: 8rem !important;
}
.mt-9 {
    margin-top: 9rem !important;
}
.mt-10 {
    margin-top: 10rem !important;
}
.mt-15 {
    margin-top: 15rem !important;
}


/*Margem direita:*/
.mr-6 {
    margin-right: 6rem !important;
}
.mr-7 {
    margin-right: 7rem !important;
}
.mr-8 {
    margin-right: 8rem !important;
}
.mr-9 {
    margin-right: 9rem !important;
}
.mr-10 {
    margin-right: 10rem !important;
}
.mr-15 {
    margin-right: 15rem !important;
}


/*Margem esquerda:*/
.ml-6 {
    margin-left: 6rem !important;
}
.ml-7 {
    margin-left: 7rem !important;
}
.ml-8 {
    margin-left: 8rem !important;
}
.ml-9 {
    margin-left: 9rem !important;
}
.ml-10 {
    margin-left: 10rem !important;
}
.ml-15 {
    margin-left: 15rem !important;
}
