footer{
    padding: 0 10px 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .Coltec{
    justify-self: start;
}

footer .SBT{
    justify-self: end;

}

footer a{
    text-decoration: none;
    margin: 0;
    justify-self: center;
    color: #ffffff;
}

footer a:hover{
    color: #eb594c;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: fixed;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}