
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    color: rgb(6, 5, 49);
    text-align: center; 
}

h1{
    font-size: 40;
    text-align: center;
    margin: 5% 0;
    font-style: normal;
    color: rgb(0, 0, 0);
    padding: 10px;
}

h3{
    padding-left: 1cm;
    color: black;
    font-weight: bolder;
    margin: 2.5% 0;
}

p{
    font-family: italic;
    text-align: center;
}
