#cadastrar {
    width: 50%;
    float: left;
}

#log {
    width: 50%;
    float: right;
}

body {
    background-color: #F2CDA0;
    color: white;
}

h1 
{
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 3px white;
}

h2 
{   
    font-size: 30px;   
    text-shadow: 0 0 3px white;
}

input {
    color: #F2CDA0;
    box-shadow: 0 0 10px white;
    border: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}