#topo{
    text-align: center;
}
#comeco{
    padding: 10px;  
    text-align: center;
}
#rodape{
    padding: 10px;
    text-align: center;
}
#pergunta{
    padding: 10px;
    text-align: left;
}
body{
    background-color: navajowhite;
}