.pergunta h3{
    color: white;
    background-color: black;
    padding: 1%;
}

.pergunta{
    padding: 2% 10% 0% 10%;
}

footer{
    background-color: black;
    color: white;
    margin-top: 2%; 
    font-size: 120%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.msg-erro{
    color: red !important;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-erro{
    border: 1px solid red !important;
}

.input-erro::placeholder {
    color: red !important;
    opacity: 0.6 !important;
}
