body {
    color:#D5EDE1; 
    background-color:#222423; 
    font-family:'Courier New';
    font-size: 18px;
    margin: 90px auto;
    max-width: 700px;
}

.indentacao-alternativas {
    margin-left:30px;
}

a {
    color: #8EECBD;
    font-size: 20px;
}