@font-face {
    font-family: "Qaranta";
    src: url('fonts/QarantaBold.otf');
}

* {
    font-family: "Qaranta";
    background-color: rgb(33, 159, 168) ;
}

body h1.warning{
    background-color: transparent;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 85px;
    height: 50px;
    z-index: 30;
    color: rgb(255, 255, 255);
}

body{
    height: 0vh;
}
form{
    background-color: inherit;
    margin-bottom: 0;
}

.title{
    z-index: 15;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: rgb(25, 90, 110);
    margin-top: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    height: 5vh;
    width: 30%;

    position: absolute;
    background-color: rgb(25, 90, 110);
}
.menu form input.btn{
    height: 50%;
    width: 20%;
    min-width: 200px;

    position: relative;
    z-index: 20;

    background-color: rgb(55, 120, 140);
    font-size: 2vh;

    padding-bottom: 2vh; 
    margin-left: 5px;
}

.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(25, 90, 110);
}
.footer h1{
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: inherit;
    font-size: 4vh;    
}

.quest{
    position: absolute;
    min-width: 450px;
    width: 40%;
    left: 30%;
    height: 40%;
    top: 20%;
    text-align: justify;
}
.quest form input.submit-btn{
    position: relative;
    left: 31%;
    margin-top: 30px;
    text-align: center;
    font-size: 150%;
    height: 55px;
    width: 200px;
    padding-bottom: 32px;
    background-color: rgb(29, 111, 136);
}
.quest > * h1 {
    font-size: 25px;
}
.quest > * input{
    text-align: right;
    width: 5%;
    margin-left: 5%;
    height: 25px;
}
.quest > * label{
    text-align: right;
    margin-left: 0;
    width: 100%;
    font-size: 25px;
}

.error{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3vh;
}

.box{
    min-width: 750px;
    background-color: rgb(25, 90, 110);
    padding-bottom: 3%;
    width: 75%;
    z-index: 15;
    font-size: 75px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 47.5%;
    text-align: center;
}
.box h1{
    background-color: inherit;
}

.box.login{
    width: 50%;
}
.box h2{
    margin: 20px 0 20px 0;
    font-size: 50px;
    background-color: inherit;
}
.box form{
    background-color: inherit;
}
.box form label{
    background-color: inherit;
    font-size: 25px;
}
.box form input:not(.submit-btn){
    background-color: rgb(55, 120, 140);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 5px;
}
.box form input.submit-btn{
    background-color: inherit;
    font-size: 30px;
    padding: 0 15px 20px 15px;
}

.bar{
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 20%;
    left: 40%;
    top: 5vh;
}