* {
    text-align: center;
}

.footer{
    width: 100%;
    background-color: rgb(25, 90, 110);
}

.quest{
    text-align: justify;
}
.quest h1 {
    font-size: 25px;
}
.quest input{
    margin-left: 35%;
}
.quest label{
    width: 20%;
    font-size: 20px;
}