@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family:'Roboto',sans-serif;
    margin:90px;
}

h1{
    font-weight: 450;
    font-size: 40px;
    color:midnightblue;
    font-family: 'Lobster', cursive;
}

ul{
    background: crimson;
    padding:2% 2% 1% 2%;
    border-radius: 5px;
    box-shadow:10px 10px black;
    list-style-type: none;
}

li{
    font-size: 20px;
    padding-bottom: 2px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    text-decoration: underline;
}

li a:visited{
    color: black;
}

.indexList li{
    font-size: 30px;
    padding-bottom: 0.5%;
}

form{
    background: crimson;
    padding:2% 2% 1% 2%;
    border-radius: 5px;
    box-shadow:10px 10px black;
    font-size: 20px;
    font-weight: 450;
}

form div{
    padding-bottom: 1%;
}

.button, button{
    font-weight: 450;
    font-size: 30px;
    margin-bottom: 0;
}

.button:hover, button:hover{
    background-color: rgb(145, 140, 140);
    text-decoration: underline;
}

.blue{
    max-height: 450px;
    width: 100%;
}

.option{
    font-size: 25px;
}

.option label{
    padding-left: 1%;
}

.box{
    background: crimson;
    padding:2% 2% 1% 2%;
    border-radius: 5px;
    box-shadow:10px 10px black;
    margin-bottom: 1%;
}