body{

    background-color: rgb(0, 0, 88);

}

.texto{
    
    border-radius: 1em;
    background-color: rgb(155, 0, 0);
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    color:  white;
    text-align: center;
    margin-top: 1em;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1em;
    padding-bottom: 1em;

}

.input{

    background-color: transparent;
    border: 1px solid white;
    border-width: 0 0 1px 0;
    width: 50%;
    height: 2em;
    color: white;


}

.input:focus {

    outline: 0;

}

.cadastro{

    border-radius: 1em;
    background-color: rgb(155, 0, 0);
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    color:  white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5em;
    padding-left: 12.5%;
    padding-top: 2em;
    padding-bottom: 2em;

}

#botao-cadastrar{

    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 25%;
    padding-right: 25%;
    margin-right: 5%;
    margin-left: -5%;

}

#botao_sair_cadastro{

    margin-left: 46%;

}