@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Staatliches', cursive, sans-serif;
    background-color: #0C1C26;
}

h1 {
    padding: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 50px #8cc8df;
}

h2 {
    font-size: 30px;
    text-shadow: 0 0 50px #8cc8df;
    padding: 20px;

}

h2, label {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

input {
    padding: 5px;
}

.botao {
    background-color: #0C1C26;
    color: white;
    box-shadow: 0 0 10px #8cc8df;
    padding: 10px;
    font-weight: bold;
    border-radius: 50%;
}

form {
    padding: 20px;
}